/* bg image */
body{
  background-image: url("/sites/default/files/inside_bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div.item-list-pager, article, section.block, div.block-search, #block-block-3, #block-menu-menu-web-policies, #block-system-user-menu,  #block-system-navigation{
  background-color: #FFF;
  padding: 20px;
  border-radius: 25px;
  border: 2px solid #000;
  padding: 20px;
  opacity: 0.9; 
}

#main-content-header{
  color: white; 
}


#breadcrumb a:link,
#breadcrumb a:visited, span.crumb-separator {
    color: white;
}
