
/* =============================================================================
 *   HTML Elements
 * ========================================================================== */

 
body {
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  	color: #666666;
  	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
 
body{
  background-image: url("/sites/default/files/inside_bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h1 a {
	margin: 0 0 16px 0; 
	color: #54b948;
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 32px;
}

h2, h2 a {
	margin: 0 0 16px 0; 
	color: #54b948;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 24px;
}

p {
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  	color: #666666;
  	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

p a, li a {
	color:#0093d0;
}

p a:hover, li a:hover {
	color:#97C5EB;
	text-decoration:underline;
}

#site-slogan {
  text-shadow: 4px 4px 6px #000000;	
  display:block;	
  margin: 10px;
  width:66%;
  color: #ffffff;
  float:right;
  
}

#page-title {
  margin: 0;
  text-shadow: 4px 4px 6px #000000;	
  color: #97C5EB;

}



#page-wrapper {
	background-image:url("backgrounds/gradient.png");
	background-size:cover;
	/*background-repeat:no-repeat;*/
	background-attachment:fixed;
	min-height: 1100px;
}

div.item-list-pager, article, section.block, div.block-search, #block-block-3, #block-menu-menu-web-policies, 
	#block-system-user-menu,  #block-system-navigation,.sidebar .block, #block-system-main form {
	background-color:#ffffff;
	opacity:.80;
	padding:18px;
	border-radius:18px;
	margin:30px 0px;
	box-shadow: 4px 4px 6px #000;
}

.more-link a{
	  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  	color: #54b948;
  	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
	line-height: 20px;
}

#main-content-header{
  color: white; 
}


#breadcrumb a:link,
#breadcrumb a:visited, span.crumb-separator {
	color: white;
}

#footer{
	color:#ffffff;
	text-shadow: 1px 2px 2px #000000,0px 0px 3px #000000;
	
}

.item-list ul li {
  margin: 0;
}
.block-title{
  margin: 0 0 16px 0;
}
/* =============================================================================
 *   Superfish
 * ========================================================================== */


/*
ul.sf-menu a {
  border-left: 0;
  border-top: 0;
  padding: 0 10px;
  text-decoration: none;
  height: 2.5em;
  line-height: 2.5em;
}
*/
.sf-menu.sf-style-space a, .sf-menu.sf-style-space li, .sf-menu.sf-style-space li li, .sf-menu.sf-style-space li li li, .sf-menu.sf-style-space.sf-navbar {
  background: none;
  height:40px;
  border-top:none;
  border-bottom:none;
}

#menu-bar{
	position:relative;
	height:40px;
	background-image: url("images/menu-bar-blue.png");
	background-size: 100% 100%;
	
}

#block-superfish-1,#superfish-1{
	color: none;
	height:100%;
	
}
#superfish-1{}


